table {
  font-family: "Montserrat";
  justify-content: space-between;
  border-collapse: collapse;
  width: 86.5%; 
  height: 50px;
}

table td,
table th {
  border: 0px solid #f8f9faff;
  padding: 14px;
  font-size: 14px;
}

table tr:nth-child(odd) {
  background-color:  #fff ;
  width: 30%;
  border-radius: 4px 4px 0px 0px;
}

table tr:nth-child(even) {
  background-color:  #f8f9faff;
  width: 30%;
  border-radius: 4px 4px 0px 0px;
}

table th {
  padding-top: 14px;
  padding-bottom: 14px;
  text-align: left;
  background-color: #f8f9faff;
  color: #323842FF;
  font-family: "Montserrat";
  font-weight: 700;
  line-height: 28px;
  font-size: 18px;
  width: 1188px;
}

.content {
  width: 90%;
  height: 830px;
  position: absolute; /*Can also be `fixed`*/
  left: 250px;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  /*Solves a problem in which the content is being cut when the div is smaller than its' wrapper:*/
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
}
.pagination{
  position: relative;
}